<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <div th:replace="blocks/head :: head('Информация')"></div>
    <body>
        <header th:replace="blocks/header :: header"></header>

        <div class="container mt-5">
            <div th:each="el : ${group}" class="alert alert-info mt-2">
                <h3 th:text=" ${el.name}"></h3>
                <p><b>Ключ: </b><span th:text="${el.code}"></span></p>
                <a th:href="'/groups/' + ${el.id} + '/edit'" class="btn btn-warning mb-3">Редактировать</a>
<!--                <form th:action="@{/groups/remove}" method="post">-->
<!--                    <button type="submit" th:value="${el.id}" name="id" class="btn btn-danger">Удалить</button>-->
<!--                </form>-->
                <h3 class="my-4">Участники</h3>

                <div th:if="${!users.isEmpty()}">
                    <ul class="list-group">
                        <li th:each="user : ${users}" class="list-group-item" th:text="${user.firstName} + ' ' + ${user.lastName}"></li>
                    </ul>
                </div>
                <p th:if="${users.isEmpty()}">В этой группе нету участников</p>

            </div>
        </div>

        <footer th:insert="blocks/footer :: footer"></footer>
    </body>
</html>