<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <div th:replace="blocks/head :: head('Добавление группы')"></div>
    <body>
        <header th:replace="blocks/header :: header"></header>

        <div class="container mt-5 mb-5">
            <h2>Добавить группу</h2>
            <form th:action="@{/groups/add}" method="post">

                <div class="form-floating mt-4">
                    <input type="text" name="name" id="floatingName" placeholder="Название группы" class="form-control" required />
                    <label for="floatingName">Название группы</label>
                </div>

                <div class="form-floating mt-4">
                    <input type="text" name="code" id="floatingCode" placeholder="Код группы" class="form-control" required/>
                    <label for="floatingCode">Код группы</label>

                    <div class="text-danger" th:text="${groupError}"
                         th:if="${groupError!=null}">
                    </div>
                </div>

                <button type="submit" class="btn btn-success mt-3">Добавить Группу</button>
            </form>

        </div>

        <footer th:insert="blocks/footer :: footer"></footer>
    </body>
</html>