<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <div th:replace="blocks/head :: head('Редактирование группы')"></div>
    <body>
        <header th:replace="blocks/header :: header"></header>

        <div class="container mt-5 mb-5">
            <h2>Редактирвание группы</h2>

            <div th:each="el : ${group}">
                <form th:action="'/groups/' + ${el.id} + '/edit'" th:method="post">
                    <input type="text" th:value="${el.name}" name="name" placeholder="Введите название группы" class="form-control"><br>
                    <input type="text" th:value="${el.code}" name="code" placeholder="Введите код группы" class="form-control"><br>
                    <button type="submit" class="btn btn-success"> Обновить</button>
                </form>
            </div>

        </div>

        <footer th:insert="blocks/footer :: footer"></footer>
    </body>
</html>