<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <div th:replace="blocks/head :: head('Информация')"></div>
    <body>
        <header th:replace="blocks/header :: header"></header>

        <div class="container mt-5">
            <div class="alert alert-info mt-2">
                <h3 th:text=" ${group.name}"></h3>
                <p><b>Код группы: </b><span th:text="${group.code}"></span></p>
                <a th:href="'/groups/' + ${group.id} + '/edit'" class="btn btn-warning mb-3">Редактировать</a>
<!--                <form th:action="@{/groups/remove}" method="post">-->
<!--                    <button type="submit" th:value="${el.id}" name="id" class="btn btn-danger">Удалить</button>-->
<!--                </form>-->
                <h3 class="my-4">Участники</h3>

                <div th:if="${!users.isEmpty()}" class="list-group">

                    <a th:each="user : ${users}"
                       th:href="'/groups/' + ${group.id} + '/results/' + ${user.id}" th:text="${user.firstName} + ' ' + ${user.lastName}"
                       class="list-group-item list-group-item-action">
                    </a>
                </div>

                <p th:if="${users.isEmpty()}">В этой группе нет участников</p>

            </div>
        </div>

        <footer th:insert="blocks/footer :: footer"></footer>
    </body>
</html>