<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <div th:replace="blocks/head :: head('Группы')"></div>
    <body>
        <header th:replace="blocks/header :: header"></header>

        <div class="container mt-5">

            <h2>Группы</h2>
            <div th:each="el : ${groups}" class="alert alert-info mt-2">
                <h3 th:text="${el.name}"></h3>
                <h5 th:if="${!el.owner.equals(you)}" th:text="'Владелец: ' + ${el.owner.firstName} + ' ' + ${el.owner.lastName}"></h5>
                <h5 th:if="${el.owner.equals(you)}" th:text="'Владелец: Вы' "></h5>
                <a class="text-decoration-none" th:href="'/groups/' + ${el.id} ">Данные группы</a>

            </div>
        </div>

        <footer th:insert="blocks/footer :: footer"></footer>
    </body>
</html>