<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <div th:replace="blocks/head :: head('Группы')"></div>
    <body>
        <header th:replace="blocks/header :: header"></header>

        <div class="container mt-5">

            <h2>Группы</h2>
            <div th:each="el : ${groups}" class="alert alert-info mt-2">
                <h3 th:text=" ${el.name}+ ' ' + ${el.code} "></h3>

                <a th:href="'/groups/' + ${el.id} ">Данные для входа</a>

            </div>
        </div>

        <footer th:insert="blocks/footer :: footer"></footer>
    </body>
</html>