<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Users</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <header th:insert="blocks/header :: header"></header>

        <div class="container mt-5">

            <h2>Группы</h2>
            <div th:each="el : ${groups}" class="alert alert-info mt-2">
                <h3 th:text=" ${el.name}+ ' ' + ${el.code} "></h3>

                <a th:href="'/groups/' + ${el.id} ">Данные для входа</a>

            </div>
        </div>

        <footer th:insert="blocks/footer :: footer"></footer>
    </body>
</html>