<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <div th:replace="blocks/head :: head('Авторизация')"></div>
    <body>
        <header th:replace="blocks/header :: header"></header>
        <div class="container mt-5">

            <h2>Login page</h2>

            <form th:action="@{/login}" method="post">
                User Name : <input type="text" name="username" class="form-control"/> <br>
                Password: <input type="password" name="password" class="form-control"/> <br>
                <input type="submit" value="Sign In" class="btn btn-success"/> <br>
            </form> <br>
            <form>
                <a href="/registration" class="btn btn-warning ">Register</a>
            </form>
        </div>

    </body>

</html>