<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <div th:replace="blocks/head :: head('Регистрация')"></div>
    <body>
        <header th:replace="blocks/header :: header"></header>
        <div class="container mt-5">

            <h2>Добавить нового пользователя</h2>
            <h3 th:text="${message}" th:if="${message!=null}" ></h3>

            <form th:action="@{/registration}" method="post">
                UserName : <input type="text" name="username" class="form-control"/><br>
                Password: <input type="password" name="password" class="form-control"/> <br>
                FirstName <input type="text" name="user_name" class="form-control"/> <br>
                LastName <input type="text" name="user_last_name" class="form-control"/> <br>
                <label><input type="checkbox" th:name="CURATOR" th:text="CURATOR"></label><br>
                <button type="submit" class="btn btn-success">Зарегестрироваться</button>
            </form>
        </div>

        <footer th:insert="blocks/footer :: footer"></footer>
    </body>

</html>