<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <div th:replace="blocks/head :: head('Тесты')"></div>
    <body>
        <header th:replace="blocks/header :: header"></header>

        <div class="container mt-5">

            <h2>Тесты</h2>
            <div th:each="el : ${tests}" class="alert alert-info mt-2">
                <h3 th:text=" ${el.name}+ ' от ' + ${el.creationDate.format(format)}"></h3>

                <a th:href="'/test/' + ${el.id}" sec:authorize="hasAnyAuthority('ADMIN','CURATOR')">Просмотреть тест</a>

                <a class="btn btn-info" th:href="'/test/' + ${el.id} + '/pass'">Пройти тест</a>
            </div>


        </div>


        <footer th:insert="blocks/footer :: footer"></footer>
    </body>
</html>