<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <div th:replace="blocks/head :: head('Пользователи')"></div>
    <body>
        <header th:replace="blocks/header :: header"></header>

        <div class="container mt-5">

            <h2>Пользователи</h2>
<!--            <div th:each="el : ${users}" class="alert alert-info mt-2">-->
<!--                <h3 th:text=" ${el.name}+ ' ' + ${el.code} "></h3>-->

<!--                <a th:href="'/groups/' + ${el.id} ">Данные для входа</a>-->

<!--            </div>-->
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">Роли</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="el, i: ${users}" class="alert alert-info mt-2">
                        <th scope="row" th:text="${i.index+1}"></th>
                        <td th:text="${el.firstName}"></td>
                        <td th:text="${el.lastName}"></td>
                        <td>
                            <div th:text="${el.roles}"></div>
                        </td>
                        <td>
                            <a th:href="'/user/' + ${el.id} + '/edit'" class="btn btn-warning">Редактировать</a>
                        </td>
<!--                        <td>-->
<!--                            <form th:action="@{/user}" method="post">-->
<!--                                <button type="submit" th:value="${el.id}" name="id" class="btn btn-danger">Удалить</button>-->
<!--                            </form>-->
<!--                        </td>-->
                    </tr>
                </tbody>
            </table>

        </div>

        <footer th:insert="blocks/footer :: footer"></footer>
    </body>
</html>