<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add user</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h2>Добавить User</h2>
    <form action="/users/add" method="post">
        <input type="text" name="user_name" placeholder="Введите имя" class="form-control"><br>
        <input type="text" name="user_last_name" placeholder="Введите фамилию" class="form-control"><br>
        <input type="text" name="login" placeholder="Введите login" class="form-control"><br>
        <input type="text" name="password" placeholder="Введите пароль" class="form-control"><br>
        <button type="submit" class="btn btn-success"> Добавить User</button>
    </form>

</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>