<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <div th:replace="blocks/head :: head('Группы')"></div>
    <body>
        <header th:replace="blocks/header :: header"></header>

        <div class="container mt-5">

            <div>
                <div class="form-floating mt-4">
                    <input type="text" th:value="${user.username}" name="username" id="floatingUsername" placeholder="Логин" class="form-control" disabled/>
                    <label for="floatingUsername">Логин</label>
                </div>

                <div class="form-floating mt-4">
                    <input type="text" th:value="${user.firstName}" name="firstName" id="floatingFirstName" placeholder="Имя" class="form-control" disabled/>
                    <label for="floatingFirstName">Имя</label>
                </div>

                <div class="form-floating mt-4">
                    <input type="text" th:value="${user.lastName}" name="lastName" id="floatingLastName" placeholder="Фамилия" class="form-control" disabled/>
                    <label for="floatingLastName">Фамилия</label>
                </div>
            </div>

            <div class="mt-3">
                <a th:href="'/user/' + ${user.id} + '/edit'" class="btn btn-warning">Редактировать</a>
            </div>
            <div class="mt-3" sec:authorize="!hasAnyAuthority('ADMIN','CURATOR')">
                <h2>Группы</h2>
                <div th:each="el : ${groups}" class="alert alert-info mt-2">
                    <h3 th:text=" ${el.name}"></h3>
                    <form class="mt-3" th:action="@{/user/profile}" method="post">
                        <button type="submit" th:value="${el.id}" name="id" class="btn btn-danger">Выйти из группы</button>
                    </form>
                </div>
                <p th:if="${groups.isEmpty()}">Вы не вступили ни в одну группу. <a href="/groups/join">Вступить</a></p>
            </div>
            <div class="mt-3" sec:authorize="hasAuthority('CURATOR')">
                <h2>Ваши группы</h2>
                <div th:each="el : ${groups}" class="alert alert-info mt-2">
                    <h3 th:text=" ${el.name}"></h3>
                    <a th:href="'/groups/' + ${el.id}" class="text-decoration-none">Данные группы</a>
                </div>

                <p th:if="${groups.isEmpty()}">Вы не владеете ни одной группой. <a href="/groups/add">Создать</a></p>

            </div>

        </div>

        <footer th:insert="blocks/footer :: footer"></footer>
    </body>
</html>