<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <div th:each="el : ${user}" class="alert alert-info mt-2">
        <h3 th:text=" ${el.firstName}+ ' ' + ${el.lastName} "></h3>
        <p><b>Логин: </b><span th:text="${el.login}"></span></p>
        <p><b>Пароль: </b><span th:text="${el.password}"></span></p>
        <a th:href="'/users/' + ${el.id} + '/edit'" class="btn btn-warning">Редактировать</a>
        <form th:action="'/users/' + ${el.id} + '/remove'" method="post">
            <button th:href="'/users/' + ${el.id} + '/remove'" type="submit" class="btn btn-danger">Удалить</button>
        </form>


    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>