<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
    <body>

    <footer th:fragment="footer" class="text-muted py-5 float-right mt-5 pt-5">
        <div class="container " wfd-id="0">
            <p class="float-end mb-1">
                <a href="#">Наверх</a>
            </p>
            <p class="mb-1">ITMO 2021 ©Алексей Чумаков</p>
        </div>
    </footer>

    </body>
</html>